body {
  display: block;
  border: solid;
  padding: 10px 0;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  text-align: center;
}

li {
  list-style: none;
}
h1 {
  line-height: 28px;
  padding: 10px;
}
#temperature {
  font-size: 30px;
}
#searchengine {
  border-radius: 5px;
  padding: 5px;
}
#searchbutton {
  border-radius: 5px;
  padding: 5px;
}
#icon {
  size: 5px;
}
